SoapInterfaceImplementation/SoapInterface/WebContent/wsdl/SoapConnectionManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapinterface.impl.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soapinterface.impl.com" xmlns:intf="http://soapinterface.impl.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soapinterface.impl.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="logOut">
    <complexType>
     <sequence>
      <element name="authMD5" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="logOutResponse">
    <complexType>
     <sequence>
      <element name="logOutReturn" type="impl:ResponseBool"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ResponseBase">
    <sequence>
     <element name="errorCode" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="ResponseBool">
    <complexContent>
     <extension base="impl:ResponseBase">
      <sequence>
       <element name="value" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="logIn">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="logInResponse">
    <complexType>
     <sequence>
      <element name="logInReturn" type="impl:ResponseLogin"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ResponseLogin">
    <complexContent>
     <extension base="impl:ResponseBase">
      <sequence>
       <element name="md5" nillable="true" type="xsd:string"/>
       <element name="username" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="return5">
    <complexType>
     <sequence>
      <element name="authMD5" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="return5Response">
    <complexType>
     <sequence>
      <element name="return5Return" type="impl:ResponseInt"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ResponseInt">
    <complexContent>
     <extension base="impl:ResponseBase">
      <sequence>
       <element name="value" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="getTestStudentMap">
    <complexType/>
   </element>
   <element name="getTestStudentMapResponse">
    <complexType>
     <sequence>
      <element name="getTestStudentMapReturn" type="impl:ResponseStringIntMap"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_int">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ResponseStringIntMap">
    <complexContent>
     <extension base="impl:ResponseBase">
      <sequence>
       <element name="key" nillable="true" type="impl:ArrayOf_xsd_int"/>
       <element name="value" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="return5Response">

      <wsdl:part element="impl:return5Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logOutResponse">

      <wsdl:part element="impl:logOutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logOutRequest">

      <wsdl:part element="impl:logOut" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTestStudentMapRequest">

      <wsdl:part element="impl:getTestStudentMap" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logInResponse">

      <wsdl:part element="impl:logInResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="return5Request">

      <wsdl:part element="impl:return5" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logInRequest">

      <wsdl:part element="impl:logIn" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTestStudentMapResponse">

      <wsdl:part element="impl:getTestStudentMapResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SoapConnectionManager">

      <wsdl:operation name="logOut">

         <wsdl:input message="impl:logOutRequest" name="logOutRequest">

       </wsdl:input>

         <wsdl:output message="impl:logOutResponse" name="logOutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logIn">

         <wsdl:input message="impl:logInRequest" name="logInRequest">

       </wsdl:input>

         <wsdl:output message="impl:logInResponse" name="logInResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="return5">

         <wsdl:input message="impl:return5Request" name="return5Request">

       </wsdl:input>

         <wsdl:output message="impl:return5Response" name="return5Response">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTestStudentMap">

         <wsdl:input message="impl:getTestStudentMapRequest" name="getTestStudentMapRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTestStudentMapResponse" name="getTestStudentMapResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SoapConnectionManagerSoapBinding" type="impl:SoapConnectionManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="logOut">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logOutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logOutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logIn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logInRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logInResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="return5">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="return5Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="return5Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTestStudentMap">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTestStudentMapRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTestStudentMapResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SoapConnectionManagerService">

      <wsdl:port binding="impl:SoapConnectionManagerSoapBinding" name="SoapConnectionManager">

         <wsdlsoap:address location="http://localhost:8080/SoapInterface/services/SoapConnectionManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
